<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1230 自定义imageView的制作.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66A8B9111C34209800EEF9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A8B92A1C34209900EEF9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A8B9351C34209900EEF9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
