<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1011 简单JSON数据的解析与发送.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66186B7A1BCA8C7300C15590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66186B931BCA8C7300C15590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66186B9E1BCA8C7300C15590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
