<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1211 NSURLDownloadTask使用代理进行下载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>662DB01D1C1AA9B60083FF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662DB0361C1AA9B60083FF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662DB0411C1AA9B60083FF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
