<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0503 FMDB的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>667DCC9E1CD8CF6300E7E8AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667DCCB21CD8CF6300E7E8AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667DCCBD1CD8CF6300E7E8AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
