<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0423 swift中的懒加载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66FC08A61CCB4B6500BFA45E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FC08BA1CCB4B6500BFA45E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FC08C51CCB4B6500BFA45E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
