<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1018 区域监听功能.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66CB84831BD3290A00251099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66CB849C1BD3290A00251099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66CB84A71BD3290A00251099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
