<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1229 绘制文字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66A8B88D1C32E2C500EEF9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A8B8A61C32E2C500EEF9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A8B8B11C32E2C500EEF9D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
