<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSFire.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>CSFireIndep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>ClassPractise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>Home 2.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LIst 13-6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>LIst 15-6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>Liat 7-6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>List 10-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>List 10-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>List 10-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>List 10.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>List 11-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>List 13-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>List 13-10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>List 13-11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>List 13-12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>List 13-13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>List 13-14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>List 13-15.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>List 13-16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>List 13-17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>List 13-18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>List 13-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>List 13-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>List 13-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>List 13-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>List 13-8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>List 13.7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>List 13.9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>List 15-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>List 15-10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>List 15-11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>List 15-12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>List 15-13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>List 15-14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>List 15-15.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>List 15-16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>List 15-17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>List 15-18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>List 15-19.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>List 15-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>List 15-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>List 15-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>List 15-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>List 15-7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>List 15-8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>List 15-9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>List 16-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>List 16-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>List 16-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>List 16-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>List 16-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>List 16-6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>List 16-7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>List 16-8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>List 16-9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>List 18-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>List 18-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>List 19-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>List 19-10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>List 19-11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>List 19-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>List 19-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>List 19-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>List 19-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>List 19-6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>List 19-7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>List 19-8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>List 19-9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>List 19.6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>List 2-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>List 2-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>List 2-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>List 2-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>List 2.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>List 3-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>List 3-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>List 3-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>List 3-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>List 4-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>List 4-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>List 4-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>List 4-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>List 4-6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>List 4.3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>List 5-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>List 5-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>List 5-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>List 5-6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>List 5-7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>List 5-8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>List 5-9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>List 5.4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>List 5.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>List 6-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>List 6-10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>List 6-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>List 6-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>List 6-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>List 6-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>List 6-6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>List 6-7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>List 6-8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>List 6-9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>List 7-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>List 7-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>List 7-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>List 7-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>List 7-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>List 8-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>List 8-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>List 8-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>List 8-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>List 8-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>List 8-6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>List 8-7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>List 9-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>List 9-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>List 9-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>List 9-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>List 9.4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Practise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>Programming in Objective-C.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>exam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>typedef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66009BE41B4002EE00595F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66009BEF1B400BF900595F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66009BFA1B4011FC00595F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66009C051B4015FB00595F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66009C101B411CEB00595F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66016E171B3D6307008EEA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66016E221B3D652C008EEA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66016E2D1B3D6D03008EEA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>661ACD411B3F0C690091C10A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>661ACD4C1B3F14380091C10A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662693D41B25AE8300560693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662693E21B25B0F700560693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662693ED1B25B68F00560693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662693F81B25B73900560693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662694031B25B7B700560693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6626940E1B25BDC400560693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662694191B25BFA800560693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6656645E1B29487A00FEC2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6656646D1B2953F200FEC2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6656647B1B2957FC00FEC2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665664891B295E0300FEC2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6656649A1B29666900FEC2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665664A81B296CB300FEC2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665664B61B29769B00FEC2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665664C11B297B8700FEC2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665664D21B2986B700FEC2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665664E31B298F5D00FEC2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665A39C01B25E17000466E86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665A39CB1B25E34E00466E86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665A39D61B25F69E00466E86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665A39E11B260A0000466E86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665A39EC1B2692A800466E86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665A39F71B2692D700466E86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6668A1CF1B3A64F20004395B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6668A1DD1B3A8BE70004395B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6668A1EB1B3A8C2A0004395B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EE9D51B27439A005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EE9E01B274A14005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EE9EB1B274BFC005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EE9F61B274ED4005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA011B275080005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA0C1B2754CC005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA171B27F427005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA221B27F504005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA2D1B27F82B005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA381B27FB0A005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA431B280C93005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA4E1B280F20005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA591B28497D005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA641B284B7E005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA6F1B284CD9005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA7A1B284E88005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA851B284FF6005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA901B285330005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEA9B1B285451005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEAA61B2855C5005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEAB11B285A09005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEABC1B285AEB005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEAC71B285E52005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEAD21B28672B005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EEADD1B286B29005B1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666EF92E1B315EB900CD7BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667221281B2D23000080AD33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667EA1901B2BD640004338C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667EA19B1B2C06E8004338C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667EA1A61B2C0D22004338C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66814DBC1B4900AF00F35FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66814DD01B4915B000F35FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6682CA631B3F7D5D005214A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6685450A1B33A027000129C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668545271B33EFD5000129C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668545321B3426F4000129C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668A90731B3E8D50004DE324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668DA2FE1B2AEF090041A5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668DA30F1B2B00B90041A5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668DA3231B2B342F0041A5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668DA3341B2B35880041A5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668DA3421B2B45D20041A5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668DA3501B2BB8090041A5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66952CA21B467B0600F54DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66952CAD1B467D5600F54DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66952CB81B46990100F54DC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88BEA1B2EE24500A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88BF51B2EE29900A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C001B2EE44900A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C0B1B2EE7D700A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C161B2EE87400A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C211B2EEAF700A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C2C1B2EF2F700A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C371B2EF40000A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C421B2EF52C00A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C4D1B2EF62A00A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C581B2EFAFE00A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C631B2F00B600A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C6E1B2F015D00A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C791B2F2D5F00A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A88C841B2F344300A79692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B4AFDA1B2FB564003FA076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B4AFE51B301B1D003FA076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B4AFF01B303830003FA076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B4AFFB1B303FFC003FA076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B57C871B29A2AB00CB80AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B57C9B1B29ACC800CB80AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B57CA61B29AEE100CB80AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B57CB11B29BA3400CB80AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66D753C81B37FD4D00FD8D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66D753D31B37FF2600FD8D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66D753DE1B38254600FD8D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66D753EF1B3975B800FD8D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66EBC6CC1B32DB6400A3E98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66EBC6D71B32E71F00A3E98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66EBC6E21B32EBF100A3E98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66EBC6ED1B32F27300A3E98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66F47F191B3BCDB2007FF5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66F47F2A1B3BE46A007FF5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66F47F3D1B3BEFCF007FF5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66F47F4E1B3BF910007FF5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66F47F621B3C6EA3007FF5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66F7005D1B35CA8A008B30A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66F700681B36A202008B30A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66F700731B37120E008B30A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FA76C21B3EF07C00100460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FA76D01B3EF22E00100460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FABDDC1B47BFE60060A3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FABDE71B47C1D40060A3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FABDF21B47C3030060A3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FABDFD1B47C80F0060A3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FABE0E1B480B480060A3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FABE191B480B5D0060A3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FABE241B480B680060A3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FABE351B480EFC0060A3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FABE431B4843780060A3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
