<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1209 NSURLSession与RunLoop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66047AC51C180DC600D94531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66047ADE1C180DC700D94531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66047AE91C180DC700D94531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
