<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0929 自定义HUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6650C1FF1BBA738B00112838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6650C2181BBA738C00112838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6650C2231BBA738C00112838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
