<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1004 PickerView综合应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>665AD14B1BC15FAB00596F06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665AD1641BC15FAC00596F06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665AD16F1BC15FAC00596F06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
