<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0924 数据传递-NSNotificationCenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6678D8E71BB44FFF009CBB55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6678D9001BB44FFF009CBB55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6678D90B1BB44FFF009CBB55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
