<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1011 xml数据的简单解析.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66989B681BCE0A75005DE2AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66989B811BCE0A76005DE2AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66989B8C1BCE0A76005DE2AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
