<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>34342423</string>
	<key>name</key>
	<string>Jack</string>
	<key>nickname</key>
	<string>Jay</string>
	<key>age</key>
	<string>17</string>
	<key>other</key>
	<dict>
		<key>habbits</key>
		<array>
			<dict>
				<key>sports</key>
				<string>basketball</string>
			</dict>
		</array>
	</dict>
	<key>clothes</key>
	<array>
		<dict>
			<key>size</key>
			<string>s</string>
			<key>color</key>
			<string>red</string>
			<key>time</key>
			<string>1995</string>
		</dict>
		<dict>
			<key>size</key>
			<string>m</string>
			<key>color</key>
			<string>blue</string>
			<key>time</key>
			<string>1996</string>
		</dict>
		<dict>
			<key>size</key>
			<string>l</string>
			<key>color</key>
			<string>grey</string>
			<key>time</key>
			<string>1997</string>
		</dict>
	</array>
	<key>books</key>
	<array>
		<dict>
			<key>name</key>
			<string>ice</string>
			<key>publishtime</key>
			<string>2005</string>
		</dict>
		<dict>
			<key>name</key>
			<string>water</string>
			<key>publishtime</key>
			<string>2005</string>
		</dict>
		<dict>
			<key>name</key>
			<string>wood</string>
			<key>publishtime</key>
			<string>2005</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fire</string>
			<key>publishtime</key>
			<string>2005</string>
		</dict>
	</array>
</dict>
</plist>
