<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>植物大战僵尸</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t01ca52fce5c3fdc29f.png</string>
		<key>download</key>
		<string>10311万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>捕鱼达人2</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t01f31378936a93938d.png</string>
		<key>download</key>
		<string>9982万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>保卫萝卜</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t01ad71850a5fae7e97.png</string>
		<key>download</key>
		<string>8582万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>找你妹</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t014d02d7a230943103.png</string>
		<key>download</key>
		<string>5910万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果忍者</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t01e0c2d5ccdfa461f5.png</string>
		<key>download</key>
		<string>5082万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鳄鱼小顽皮</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t0144812feb68f1b7bc.png</string>
		<key>download</key>
		<string>3918万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神偷奶爸</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t0113fd57fbb3e42128.png</string>
		<key>download</key>
		<string>3681万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时空猎人</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t01823284b43d23d05e.png</string>
		<key>download</key>
		<string>3645万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>愤怒的小鸟</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t0148544067be7fcaa3.png</string>
		<key>download</key>
		<string>3552万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滑雪大冒险</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t01f9c104ccb2614350.png</string>
		<key>download</key>
		<string>3487万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爸爸去哪儿</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t01c64dba8e2f4723d5.png</string>
		<key>download</key>
		<string>3117万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我叫MT </string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t01720150c5e90f13cb.png</string>
		<key>download</key>
		<string>2386万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3D终极狂飙</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t0130d81dc8a9645ab0.png</string>
		<key>download</key>
		<string>2166万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杀手2</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t0123e74a4ad84480a5.png</string>
		<key>download</key>
		<string>1951万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>俄罗斯方块</string>
		<key>icon</key>
		<string>http://p0.qhimg.com/t017516c623100ef529.png</string>
		<key>download</key>
		<string>1290万</string>
	</dict>
</array>
</plist>
