<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0921 数据刷新-全局刷新.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>669E258B1BB0053D001E95B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>669E25A41BB0053D001E95B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>669E25AF1BB0053D001E95B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
